.wp-block-gioca-giue-vote-pitchfork {
	display: flex;
	justify-content: flex-end;
}

.wp-block-gioca-giue-vote-pitchfork__vote {
	align-items: center;
	background-color: white;
	border: 7px solid #ff3530;
	border-radius: 50%;
	color: #ff3530;
	display: flex;
	font-size: 42px;
	font-weight: bold;
	height: 100px;
	justify-content: center;
	width: 100px;
}
