.wp-block-gioca-giue-vote-k-mag {
	display: flex;
	justify-content: flex-end;
}

.wp-block-gioca-giue-vote-k-mag__box {
	background-color: #000000;
	padding: 10px;
	width: 180px;
}

.wp-block-gioca-giue-vote-k-mag__vote {
	color: #ffcc00;
	font-family: "Arial Black", Arial, sans-serif;
	font-size: 44px;
	letter-spacing: 2px;
	line-height: 70px;
}

.wp-block-gioca-giue-vote-k-mag__grades {
	color: #ffffff;
	font-family: Arial, sans-serif;
	font-size: 10px;
	font-style: italic;
	line-height: 14px;
	margin-top: 5px;
	text-align: right;

	span {
		display: inline-block;
		position: relative;
		text-align: center;
		width: 12px;

		&::before {
			background-color: #ffffff;
			bottom: -92px;
			content: '';
			display: block;
			height: 87px;
			left: 6px;
			position: absolute;
			width: 1px
		}
	}
}

.wp-block-gioca-giue-vote-k-mag__bar {
	align-items: center;
	background-color: #ff00cc;
	color: #ffcc00;
	display: flex;
	font-family: "Arial Black", Arial, sans-serif;
	font-size: 14px;
	justify-content: space-between;
	line-height: 18px;
	margin-top: 5px;
	padding: 0 5px;
	position: relative;
	width: 25px;

	&.is-1 { width: 57px; }
	&.is-2 { width: 69px; }
	&.is-3 { width: 81px; }
	&.is-4 { width: 93px; }
	&.is-5 { width: 105px; }
	&.is-6 { width: 117px; }
	&.is-7 { width: 129px; }
	&.is-8 { width: 141px; }
	&.is-9 { width: 153px; }
	&.is-10 { width: 165px; }
}
